@import url('https://fonts.googleapis.com/css2?family=Carme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    
}

body {
    margin: 0;
    padding: 1em 0;
    font-family: 'Carme', sans-serif;
    color: #6a6a6a;
    background: linear-gradient(to right top, 
    #845ec2, #b45cb6, #d65fa5, 
    #ed6993, #fa7a82, #ff8977, 
    #ff9a6e, #ffac69, #ffbe66, 
    #ffd166, #ffe469, #f9f871);;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.container {
    background-color: #ffffff;
    width: 450px;
    margin: 0 auto;
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .3em;
}

.heading {
    font-family: 'Rubik', sans-serif;
    font-size: 1.9rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 1.5em 0;
}

form {
    width: 100%;
}
#email, #password, #name {
    height: 3rem;
    font-size: 1.1rem;
    width: 100%;
    padding: 1em 3em;
    margin-bottom: 1.5em;
    color: #9f9f9f;
    background-color: #dfdfdf;
    border: 0;
    border-radius: .3em;
    outline: none;
}

#email::before {
    background: image();
}

#email:focus, #password:focus, #name:focus {
    font-size: .9rem;
    padding: 1em 3.5em;
}

input[type=submit] {
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-size: 1.1rem;
    width: 100%;
    padding: 1em 3em;
    border: 0;
    background: #8b6eff;
    color: #ffffff;
    margin: 2em 0;
    cursor: pointer;
    border-radius: .3em;
    margin-bottom: 1.8em;
}

.fa-light {
    position: absolute;
    font-size: 1.3rem;
    color: #9f9f9f;
    padding: .9rem 0 0 1rem;

}

.alt-login {
    text-align: center;
}

.social-div {
    margin-bottom: 2em;
}

.social {
    border-radius: 1em;
    border: 0;
    width: 100%;
    font-size: 1.1rem;
    font-family: 'Rubik', sans-serif;
    padding: 1em .6em;
    cursor: pointer;
    color: #ffffff;
    margin-bottom: 1em;
}

.google {
    background-color: #f14d29;
}
.facebook {
    background-color: #1b00cd;
}
.apple {
    background-color: #120401;
}
.link {
    color: #ff9a6e;
    text-decoration: underline;
}

@media screen and (max-width: 480px) {
    .container {
        width: 90%;
    }
}







<div class="alt-login">
<p>Or login with</p>
<div class="social-div">
    <button class="social google">Google</button>
    <button class="social facebook">Facebook</button>
    <button class="social apple">Apple</button>
</div>
</div>





Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quos pariatur temporibus libero nisi, hic placeat dolores amet? Eius, nam accusantium. 
                Laboriosam, vero maxime. Vitae iure sunt perferendis quia debitis, sed saepe 
                cupiditate itaque repellat accusamus nihil, assumenda quam praesentium neque voluptas ratione. 
                Recusandae error eligendi itaque at sapiente a omnis, veritatis rem doloremque soluta 
                explicabo optio vitae ipsa eveniet quae reiciendis minima. Accusamus deleniti, quas, 
                possimus exercitationem eos, sapiente quae consequuntur asperiores dolores quis est tempora. 
                Quae, nisi repellat! Odit asperiores voluptates quam ducimus sit tenetur omnis incidunt 
                labore vel quas a nisi totam aut, dolore veniam hic numquam, suscipit natus amet excepturi, 
                perferendis iure earum. Aliquid harum a, rerum et perspiciatis ullam reiciendis modi, 
                possimus unde aperiam ut excepturi saepe dolorum, blanditiis adipisci dicta assumenda placeat 
                asperiores accusantium consequatur cumque id quaerat? Sed mollitia quas quae veniam earum 
                ab labore omnis, officia maiores odit, soluta, iusto a? Vitae asperiores hic ullam libero 
                quisquam nostrum nihil omnis possimus deleniti laborum ex eligendi rerum veritatis ut, quis 
                tempora itaque laboriosam error optio consequuntur culpa molestiae nesciunt. Quidem quam ad 
                sit enim dignissimos, commodi impedit aliquam ab sapiente perferendis nihil tempora eos ratione 
                quaerat possimus praesentium beatae consequatur at, minus doloribus sed.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quos pariatur temporibus libero nisi, hic placeat dolores amet? Eius, nam accusantium. 
                Laboriosam, vero maxime. Vitae iure sunt perferendis quia debitis, sed saepe 
                cupiditate itaque repellat accusamus nihil, assumenda quam praesentium neque voluptas ratione. 
                Recusandae error eligendi itaque at sapiente a omnis, veritatis rem doloremque soluta 
                explicabo optio vitae ipsa eveniet quae reiciendis minima. Accusamus deleniti, quas, 
                possimus exercitationem eos, sapiente quae consequuntur asperiores dolores quis est tempora. 
                Quae, nisi repellat! Odit asperiores voluptates quam ducimus sit tenetur omnis incidunt 
                labore vel quas a nisi totam aut, dolore veniam hic numquam, suscipit natus amet excepturi, 
                perferendis iure earum. Aliquid harum a, rerum et perspiciatis ullam reiciendis modi, 
                possimus unde aperiam ut excepturi saepe dolorum, blanditiis adipisci dicta assumenda placeat 
                asperiores accusantium consequatur cumque id quaerat? Sed mollitia quas quae veniam earum 
                ab labore omnis, officia maiores odit, soluta, iusto a? Vitae asperiores hic ullam libero 
                quisquam nostrum nihil omnis possimus deleniti laborum ex eligendi rerum veritatis ut, quis 
                tempora itaque laboriosam error optio consequuntur culpa molestiae nesciunt. Quidem quam ad 
                sit enim dignissimos, commodi impedit aliquam ab sapiente perferendis nihil tempora eos ratione 
                quaerat possimus praesentium beatae consequatur at, minus doloribus sed.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quos pariatur temporibus libero nisi, hic placeat dolores amet? Eius, nam accusantium. 
                Laboriosam, vero maxime. Vitae iure sunt perferendis quia debitis, sed saepe 
                cupiditate itaque repellat accusamus nihil, assumenda quam praesentium neque voluptas ratione. 
                Recusandae error eligendi itaque at sapiente a omnis, veritatis rem doloremque soluta 
                explicabo optio vitae ipsa eveniet quae reiciendis minima. Accusamus deleniti, quas, 
                possimus exercitationem eos, sapiente quae consequuntur asperiores dolores quis est tempora. 
                Quae, nisi repellat! Odit asperiores voluptates quam ducimus sit tenetur omnis incidunt 
                labore vel quas a nisi totam aut, dolore veniam hic numquam, suscipit natus amet excepturi, 
                perferendis iure earum. Aliquid harum a, rerum et perspiciatis ullam reiciendis modi, 
                possimus unde aperiam ut excepturi saepe dolorum, blanditiis adipisci dicta assumenda placeat 
                asperiores accusantium consequatur cumque id quaerat? Sed mollitia quas quae veniam earum 
                ab labore omnis, officia maiores odit, soluta, iusto a? Vitae asperiores hic ullam libero 
                quisquam nostrum nihil omnis possimus deleniti laborum ex eligendi rerum veritatis ut, quis 
                tempora itaque laboriosam error optio consequuntur culpa molestiae nesciunt. Quidem quam ad 
                sit enim dignissimos, commodi impedit aliquam ab sapiente perferendis nihil tempora eos ratione 
                quaerat possimus praesentium beatae consequatur at, minus doloribus sed.